extends template/header

block content
	#preloader
	#wrapper
		.body-container
			.container
				.row
					.col-sm-12
						ul
							li
								a(href='components.html') Components
	include template/footer
