html {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
    font-size: $font-size--root;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    background: $bg-main;
    font-family: $font-family--base;
    font-size: $font-size--m;
    line-height: $line-height--sl;
    color: $font-color;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
